.form-line {
  padding-top: 11px;
  padding-bottom: 11px;
}

.form-lable-left {
  width: 145px;
  display: inline-block;
}

.lable-margin {
  margin-left: 150px;
  font-size: 13px;
  color: gray;
}

.input-lable-2 {
  margin-left: 111px;
  color: gray;
  font-size: 13px;
}

.date-input {
  width: 65px;
}

.date-lable {
  color: gray;
  font-size: 13px;
}

div:focus {
  background-color: antiquewhite;
}
